.bigbox {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bigbox {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .bigbox {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .bigbox {
    width: 1170px;
  }
}
.bigbox-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.boxrow {
  margin-left: -15px;
  margin-right: -15px;
}
.box-xs-1, .box-sm-1, .box-md-1, .box-lg-1, .box-xs-2, .box-sm-2, .box-md-2, .box-lg-2, .box-xs-3, .box-sm-3, .box-md-3, .box-lg-3, .box-xs-4, .box-sm-4, .box-md-4, .box-lg-4, .box-xs-5, .box-sm-5, .box-md-5, .box-lg-5, .box-xs-6, .box-sm-6, .box-md-6, .box-lg-6, .box-xs-7, .box-sm-7, .box-md-7, .box-lg-7, .box-xs-8, .box-sm-8, .box-md-8, .box-lg-8, .box-xs-9, .box-sm-9, .box-md-9, .box-lg-9, .box-xs-10, .box-sm-10, .box-md-10, .box-lg-10, .box-xs-11, .box-sm-11, .box-md-11, .box-lg-11, .box-xs-12, .box-sm-12, .box-md-12, .box-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.box-xs-1, .box-xs-2, .box-xs-3, .box-xs-4, .box-xs-5, .box-xs-6, .box-xs-7, .box-xs-8, .box-xs-9, .box-xs-10, .box-xs-11, .box-xs-12 {
  float: left;
}
.box-xs-12 {
  width: 100%;
}
.box-xs-11 {
  width: 91.66666667%;
}
.box-xs-10 {
  width: 83.33333333%;
}
.box-xs-9 {
  width: 75%;
}
.box-xs-8 {
  width: 66.66666667%;
}
.box-xs-7 {
  width: 58.33333333%;
}
.box-xs-6 {
  width: 50%;
}
.box-xs-5 {
  width: 41.66666667%;
}
.box-xs-4 {
  width: 33.33333333%;
}
.box-xs-3 {
  width: 25%;
}
.box-xs-2 {
  width: 16.66666667%;
}
.box-xs-1 {
  width: 8.33333333%;
}
.box-xs-pull-12 {
  right: 100%;
}
.box-xs-pull-11 {
  right: 91.66666667%;
}
.box-xs-pull-10 {
  right: 83.33333333%;
}
.box-xs-pull-9 {
  right: 75%;
}
.box-xs-pull-8 {
  right: 66.66666667%;
}
.box-xs-pull-7 {
  right: 58.33333333%;
}
.box-xs-pull-6 {
  right: 50%;
}
.box-xs-pull-5 {
  right: 41.66666667%;
}
.box-xs-pull-4 {
  right: 33.33333333%;
}
.box-xs-pull-3 {
  right: 25%;
}
.box-xs-pull-2 {
  right: 16.66666667%;
}
.box-xs-pull-1 {
  right: 8.33333333%;
}
.box-xs-pull-0 {
  right: auto;
}
.box-xs-push-12 {
  left: 100%;
}
.box-xs-push-11 {
  left: 91.66666667%;
}
.box-xs-push-10 {
  left: 83.33333333%;
}
.box-xs-push-9 {
  left: 75%;
}
.box-xs-push-8 {
  left: 66.66666667%;
}
.box-xs-push-7 {
  left: 58.33333333%;
}
.box-xs-push-6 {
  left: 50%;
}
.box-xs-push-5 {
  left: 41.66666667%;
}
.box-xs-push-4 {
  left: 33.33333333%;
}
.box-xs-push-3 {
  left: 25%;
}
.box-xs-push-2 {
  left: 16.66666667%;
}
.box-xs-push-1 {
  left: 8.33333333%;
}
.box-xs-push-0 {
  left: auto;
}
.box-xs-offset-12 {
  margin-left: 100%;
}
.box-xs-offset-11 {
  margin-left: 91.66666667%;
}
.box-xs-offset-10 {
  margin-left: 83.33333333%;
}
.box-xs-offset-9 {
  margin-left: 75%;
}
.box-xs-offset-8 {
  margin-left: 66.66666667%;
}
.box-xs-offset-7 {
  margin-left: 58.33333333%;
}
.box-xs-offset-6 {
  margin-left: 50%;
}
.box-xs-offset-5 {
  margin-left: 41.66666667%;
}
.box-xs-offset-4 {
  margin-left: 33.33333333%;
}
.box-xs-offset-3 {
  margin-left: 25%;
}
.box-xs-offset-2 {
  margin-left: 16.66666667%;
}
.box-xs-offset-1 {
  margin-left: 8.33333333%;
}
.box-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .box-sm-1, .box-sm-2, .box-sm-3, .box-sm-4, .box-sm-5, .box-sm-6, .box-sm-7, .box-sm-8, .box-sm-9, .box-sm-10, .box-sm-11, .box-sm-12 {
    float: left;
  }
  .box-sm-12 {
    width: 100%;
  }
  .box-sm-11 {
    width: 91.66666667%;
  }
  .box-sm-10 {
    width: 83.33333333%;
  }
  .box-sm-9 {
    width: 75%;
  }
  .box-sm-8 {
    width: 66.66666667%;
  }
  .box-sm-7 {
    width: 58.33333333%;
  }
  .box-sm-6 {
    width: 50%;
  }
  .box-sm-5 {
    width: 41.66666667%;
  }
  .box-sm-4 {
    width: 33.33333333%;
  }
  .box-sm-3 {
    width: 25%;
  }
  .box-sm-2 {
    width: 16.66666667%;
  }
  .box-sm-1 {
    width: 8.33333333%;
  }
  .box-sm-pull-12 {
    right: 100%;
  }
  .box-sm-pull-11 {
    right: 91.66666667%;
  }
  .box-sm-pull-10 {
    right: 83.33333333%;
  }
  .box-sm-pull-9 {
    right: 75%;
  }
  .box-sm-pull-8 {
    right: 66.66666667%;
  }
  .box-sm-pull-7 {
    right: 58.33333333%;
  }
  .box-sm-pull-6 {
    right: 50%;
  }
  .box-sm-pull-5 {
    right: 41.66666667%;
  }
  .box-sm-pull-4 {
    right: 33.33333333%;
  }
  .box-sm-pull-3 {
    right: 25%;
  }
  .box-sm-pull-2 {
    right: 16.66666667%;
  }
  .box-sm-pull-1 {
    right: 8.33333333%;
  }
  .box-sm-pull-0 {
    right: auto;
  }
  .box-sm-push-12 {
    left: 100%;
  }
  .box-sm-push-11 {
    left: 91.66666667%;
  }
  .box-sm-push-10 {
    left: 83.33333333%;
  }
  .box-sm-push-9 {
    left: 75%;
  }
  .box-sm-push-8 {
    left: 66.66666667%;
  }
  .box-sm-push-7 {
    left: 58.33333333%;
  }
  .box-sm-push-6 {
    left: 50%;
  }
  .box-sm-push-5 {
    left: 41.66666667%;
  }
  .box-sm-push-4 {
    left: 33.33333333%;
  }
  .box-sm-push-3 {
    left: 25%;
  }
  .box-sm-push-2 {
    left: 16.66666667%;
  }
  .box-sm-push-1 {
    left: 8.33333333%;
  }
  .box-sm-push-0 {
    left: auto;
  }
  .box-sm-offset-12 {
    margin-left: 100%;
  }
  .box-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .box-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .box-sm-offset-9 {
    margin-left: 75%;
  }
  .box-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .box-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .box-sm-offset-6 {
    margin-left: 50%;
  }
  .box-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .box-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .box-sm-offset-3 {
    margin-left: 25%;
  }
  .box-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .box-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .box-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .box-md-1, .box-md-2, .box-md-3, .box-md-4, .box-md-5, .box-md-6, .box-md-7, .box-md-8, .box-md-9, .box-md-10, .box-md-11, .box-md-12 {
    float: left;
  }
  .box-md-12 {
    width: 100%;
  }
  .box-md-11 {
    width: 91.66666667%;
  }
  .box-md-10 {
    width: 83.33333333%;
  }
  .box-md-9 {
    width: 75%;
  }
  .box-md-8 {
    width: 66.66666667%;
  }
  .box-md-7 {
    width: 58.33333333%;
  }
  .box-md-6 {
    width: 50%;
  }
  .box-md-5 {
    width: 41.66666667%;
  }
  .box-md-4 {
    width: 33.33333333%;
  }
  .box-md-3 {
    width: 25%;
  }
  .box-md-2 {
    width: 16.66666667%;
  }
  .box-md-1 {
    width: 8.33333333%;
  }
  .box-md-pull-12 {
    right: 100%;
  }
  .box-md-pull-11 {
    right: 91.66666667%;
  }
  .box-md-pull-10 {
    right: 83.33333333%;
  }
  .box-md-pull-9 {
    right: 75%;
  }
  .box-md-pull-8 {
    right: 66.66666667%;
  }
  .box-md-pull-7 {
    right: 58.33333333%;
  }
  .box-md-pull-6 {
    right: 50%;
  }
  .box-md-pull-5 {
    right: 41.66666667%;
  }
  .box-md-pull-4 {
    right: 33.33333333%;
  }
  .box-md-pull-3 {
    right: 25%;
  }
  .box-md-pull-2 {
    right: 16.66666667%;
  }
  .box-md-pull-1 {
    right: 8.33333333%;
  }
  .box-md-pull-0 {
    right: auto;
  }
  .box-md-push-12 {
    left: 100%;
  }
  .box-md-push-11 {
    left: 91.66666667%;
  }
  .box-md-push-10 {
    left: 83.33333333%;
  }
  .box-md-push-9 {
    left: 75%;
  }
  .box-md-push-8 {
    left: 66.66666667%;
  }
  .box-md-push-7 {
    left: 58.33333333%;
  }
  .box-md-push-6 {
    left: 50%;
  }
  .box-md-push-5 {
    left: 41.66666667%;
  }
  .box-md-push-4 {
    left: 33.33333333%;
  }
  .box-md-push-3 {
    left: 25%;
  }
  .box-md-push-2 {
    left: 16.66666667%;
  }
  .box-md-push-1 {
    left: 8.33333333%;
  }
  .box-md-push-0 {
    left: auto;
  }
  .box-md-offset-12 {
    margin-left: 100%;
  }
  .box-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .box-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .box-md-offset-9 {
    margin-left: 75%;
  }
  .box-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .box-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .box-md-offset-6 {
    margin-left: 50%;
  }
  .box-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .box-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .box-md-offset-3 {
    margin-left: 25%;
  }
  .box-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .box-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .box-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .box-lg-1, .box-lg-2, .box-lg-3, .box-lg-4, .box-lg-5, .box-lg-6, .box-lg-7, .box-lg-8, .box-lg-9, .box-lg-10, .box-lg-11, .box-lg-12 {
    float: left;
  }
  .box-lg-12 {
    width: 100%;
  }
  .box-lg-11 {
    width: 91.66666667%;
  }
  .box-lg-10 {
    width: 83.33333333%;
  }
  .box-lg-9 {
    width: 75%;
  }
  .box-lg-8 {
    width: 66.66666667%;
  }
  .box-lg-7 {
    width: 58.33333333%;
  }
  .box-lg-6 {
    width: 50%;
  }
  .box-lg-5 {
    width: 41.66666667%;
  }
  .box-lg-4 {
    width: 33.33333333%;
  }
  .box-lg-3 {
    width: 25%;
  }
  .box-lg-2 {
    width: 16.66666667%;
  }
  .box-lg-1 {
    width: 8.33333333%;
  }
  .box-lg-pull-12 {
    right: 100%;
  }
  .box-lg-pull-11 {
    right: 91.66666667%;
  }
  .box-lg-pull-10 {
    right: 83.33333333%;
  }
  .box-lg-pull-9 {
    right: 75%;
  }
  .box-lg-pull-8 {
    right: 66.66666667%;
  }
  .box-lg-pull-7 {
    right: 58.33333333%;
  }
  .box-lg-pull-6 {
    right: 50%;
  }
  .box-lg-pull-5 {
    right: 41.66666667%;
  }
  .box-lg-pull-4 {
    right: 33.33333333%;
  }
  .box-lg-pull-3 {
    right: 25%;
  }
  .box-lg-pull-2 {
    right: 16.66666667%;
  }
  .box-lg-pull-1 {
    right: 8.33333333%;
  }
  .box-lg-pull-0 {
    right: auto;
  }
  .box-lg-push-12 {
    left: 100%;
  }
  .box-lg-push-11 {
    left: 91.66666667%;
  }
  .box-lg-push-10 {
    left: 83.33333333%;
  }
  .box-lg-push-9 {
    left: 75%;
  }
  .box-lg-push-8 {
    left: 66.66666667%;
  }
  .box-lg-push-7 {
    left: 58.33333333%;
  }
  .box-lg-push-6 {
    left: 50%;
  }
  .box-lg-push-5 {
    left: 41.66666667%;
  }
  .box-lg-push-4 {
    left: 33.33333333%;
  }
  .box-lg-push-3 {
    left: 25%;
  }
  .box-lg-push-2 {
    left: 16.66666667%;
  }
  .box-lg-push-1 {
    left: 8.33333333%;
  }
  .box-lg-push-0 {
    left: auto;
  }
  .box-lg-offset-12 {
    margin-left: 100%;
  }
  .box-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .box-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .box-lg-offset-9 {
    margin-left: 75%;
  }
  .box-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .box-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .box-lg-offset-6 {
    margin-left: 50%;
  }
  .box-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .box-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .box-lg-offset-3 {
    margin-left: 25%;
  }
  .box-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .box-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .box-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.bigbox:before,
.bigbox:after,
.bigbox-fluid:before,
.bigbox-fluid:after,
.boxrow:before,
.boxrow:after {
  content: " ";
  display: table;
}
.clearfix:after,
.bigbox:after,
.bigbox-fluid:after,
.boxrow:after {
  clear: both;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

.table tbody + tbody {
  border-top: 2px solid #eceeef;
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #eceeef;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #eceeef;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #dff0d8;
}

.table-hover .table-success:hover {
  background-color: #d0e9c6;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #d0e9c6;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #d9edf7;
}

.table-hover .table-info:hover {
  background-color: #c4e3f3;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #c4e3f3;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fcf8e3;
}

.table-hover .table-warning:hover {
  background-color: #faf2cc;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #faf2cc;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f2dede;
}

.table-hover .table-danger:hover {
  background-color: #ebcccc;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #ebcccc;
}

.thead-inverse th {
  color: #fff;
  background-color: #292b2c;
}

.thead-default th {
  color: #464a4c;
  background-color: #eceeef;
}

.table-inverse {
  color: #fff;
  background-color: #292b2c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: #fff;
}

.table-inverse.table-bordered {
  border: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.table-bordered {
  border: 0;
}