/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.chart-filter{
	padding: 6px 0;	
}

.page-numbers{
	padding: 5px 10px;
    border: 1px solid #007cba;
    text-decoration: none;
    margin-right: 0px;
    background: #007cba;
	color: #fff;
	transition: .2s linear;
}
.page-numbers:hover{
	color: #fff;
	background: #0071a1;
	border: 1px solid #0071a1;
}